*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer" ;
}
nav{
    
    position: sticky;
    top: 0;
    grid-area: navbar;
    background-color: orangered;
    color: whitesmoke;
    padding: 1em;
}

aside{
    height: calc(100vh - 50.4px);
    top: 50.4px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: gray;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: brown;
    color: whitesmoke;
    padding: 2em;
}

@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300;
        display: none;
    }
    .show{
        display: block;
    }
}